<h2>@ViewBag.Meddelande</h2>

<table>
    <tr>
        <td>
            <label>Kategori namn</label>
            <select asp-items="@ViewBag.users" disabled="disabled"></select>
        </td>
    </tr>
</table>